@charset 'UTF-8';

        /*declarações gerais*/
        @media all{
            *{
                margin: 0px;
                padding: 0px;
            }

            html, body{
                width: 100vw;
                height: 100vh;
                font-family: Arial, Helvetica, sans-serif;
            }

            body{
                background-color: #233eff;
            }

            h1{
                color: white;
                text-shadow: 2px 2px 0px #0f1969;
                padding: 10px;
            }   
        }
        
        /*declarações retrato*/
        @media screen and (orientation: portrait) {         
            body{
            background: url(../imagens/cev-portrait.jpg);
            background-position: center bottom;
            }
        }

        /*declarações paisagem*/

        @media screen and (orientation: landscape) {         
        body{
            background: url(../imagens/cev-landscape.jpg);
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: cover;
            }
        }